extends layout

block content
  .topContainer
    .sideBlog
      .recentPosts
        .recentPostEntry
          h1 He won the game
          h1 He won the game
          h1 He won the game
        .recentPostEntry
          h1 He won the game
          h1 He won the game
          h1 He won the game
        .recentPostEntry
          h1 He won the game
          h1 He won the game
          h1 He won the game
        .recentPostEntry
          h1 He won the game
          h1 He won the game
          h1 He won the game
      .relatedPosts
    .mainBlog
      h1= title
      p Welcome to #{title}

      a.i.fa.fa-pencil-square-o.createPostButton(href='#openModal1') Create Post
      #openModal1.modalDialog
        .modalPost
          a.close(href='#close', title='Close') X
          form(action='/create' method='POST')
            header
            .formFields
              label Title
              input.createInput(type='text', name='title', placeholder='Title for your post')
              label Author
              input.createInput(type='text', name='author', placeholder='Who are you?')
              label Caption
              textarea.createInput(rows='4', name='snippet', placeholder='Short summary')
              label Content
              textarea.createInput(rows='4', name='blog_entry', placeholder='Enter blog post')
              label Image
              input.createInput(type='text', name='image_url', placeholder='Enter image url')
              label Tags
              input.createInput(type='text', name='tags', placeholder='tags')
              button(type='submit', value='Submit' formmethod='post')

      for post in posts
        .postContainer
          .postHeader(id=`blogEntry${post.id}`)
            h2= post.title
            p= normalizeDate(post.post_date)
          .textBody
            p= post.blog_entry
          .imageContainer
            img( src=post.image_url)
          .tagContainer
            p= post.tags
            p= post.comments
          .buttonControls
            a.i.fa.fa-pencil-square-o.editButton(href=`#${post.id}openModal`)
            form(action=`/delete/${post.id}` method='POST')
              i.fa.fa-trash-o(type="submit", value="delete" onclick="return confirm('Are you sure you want to delete this post?')")
            .modalDialog(id=`${post.id}openModal`)
              .modalPost
                a.close(href='#close', title='Close') X
                form(action=`/edit/${post.id}` method='POST')
                  header
                  .formFields
                    label Title
                    input.createInput(type='text', name='title', value=post.title)
                    label Caption
                    textarea.createInput(type='text', rows='4', name='snippet') #{post.snippet}
                    label Content
                    textarea.createInput(type='text', rows='4', name='blog_entry') #{post.blog_entry}
                    label Image
                    input.createInput(type='text', name='image_url', value=post.image_url)
                    label Tags
                    input.createInput(type='text', name='tags', value=post.tags)
                    button(type='submit', value='Submit' formmethod='post')
