extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='#openModal1') Create Post
  #openModal1.modalDialog
    .modalPost
      a.close(href='#close', title='Close') X
      form(action='/create' method='POST')
        header
          .formFields
      label Title
      input.createInput(type='text', name='title', placeholder='Title for your post')
      label Caption
      textarea.createInput(rows='4', name='Snippet', placeholder='Short summary')
      label Content
      textarea.createInput(rows='4', name='blog_entry', placeholder='Enter blog post')
      label Image
      input.createInput(type='text', name='image', placeholder='Enter image url')
      label Tags
      input.createInput(type='text', name='image', placeholder='tags')
      footer
        input(type='submit', value='Submit')





  .page-container
    a.i.fa.fa-pencil-square-o.createPostButton(href='#create', aria-hidden="true") Create


  for post in posts
    .blogContainer
      .blogHeader(id=`blogEntry${post.id}`)
        h2= post.title
        p= normalizeDate(post.post_date)
      .textBody
        p= post.blog_entry
      .imageContainer
        img( src=post.image_url)
      .tagContainer
        p= post.tags
        p= post.comments
        a.i.fa.fa-pencil-square-o.editButton(href='#openModal2')
        #openModal2.modalDialog
          .modalPost
            a.close(href='#close', title='Close') X
            form(action='/create' method='POST')
              header
                .formFields
            label Title
            input.createInput(type='text', name='title', placeholder='How you  like me now')
            label Caption
            textarea.createInput(rows='4', name='Snippet', placeholder='Short summary')
            label Content
            textarea.createInput(rows='4', name='blog_entry', placeholder='Enter blog post')
            label Image
            input.createInput(type='text', name='image', placeholder='Enter image url')
            label Tags
            input.createInput(type='text', name='image', placeholder='tags')
            footer
              input(type='submit', value='Submit')
